body {
    /* adicionado cor de fundo*/
background-color: #e5b892;
font-family: 'Franklin Gothic Medium';

}
article{
/* centralizando os itens*/
text-align: center;
/* centralizando os itens2*/
margin: 15%;
}
button{
background-color: pink;
/*cor de fundo do botão adicionada*/
/*cor das letras do botão adicionada*/
color: black;
}
/*"etruturação do css"*/
button:hover{
    width: 18%;
    height: 20%;
    font-size: 20px;
}
/*"coloquei uma pre animaçao ao passar o mause por cima"*/
section {
    font-family: Arial;
}