/*separaçao das section em uma 2 por 3*/
article  {
    display: flex;
}

div {
    background-color: aqua;
    border: black solid;
}


/*arrumando o css do titulo*/
/*criaçao das bordas*/
.cards {
    width: 33%;
    padding: 0;
    margin: 5px;
    border: black solid;
    background-color: white;
}
#tituloD {
    text-align: center;
}
.nick {
    margin: 5px;
    padding: 10px;
}
.data {
    flex-direction: row;
    display: flex;
}
.names{
    border: none;
    display: flex;
}
.coment{
    border: none;
    display: flex;
    background-color: white;
}