/*separaçao das section em uma 2 por 3*/
article  {
    display: flex;
}

div {
    background-color: #9fd6ee;
    border: black solid 1px;
    border-radius: 6px;
    border-left: #f270b5 solid 10px;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);

}


/*arrumando o css do titulo*/
/*criaçao das bordas*/
.cards {
    width: 33%;
    padding: 10px;
    padding-bottom: 3%;
    margin: 5px;
    
}
#tituloD {
    text-align: center;
}
.nick {
    margin: 5px;
    padding: 10px;
}
.data {
    flex-direction: row;
    display: flex;
}
.names{
    border: none;
    display: flex;
    background-color: #dcbea5;
    border: black solid 1px;
    margin: 5px;

    border-top: 4%;
    border-bottom: 0;


}
.coment{
    border: none;
    display: flex;
    background-color: #f0e5dc;
    border: black solid 1px;
    margin: 5px;
    
    border-top: 4%;
    border-bottom: 0;

;

}
img {
    border-radius: 50%;
    border: black solid 1px;
}