<!DOCTYPE html>
<html>
     <!--Respónsavel pelo cabeçalho-->
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../accets/css/header.css">
</head>
<body>
    <!--Respónsavel pelo menu-->
    <header>
      <div class="container">
        <a href="#" class="logo">
        <img src="../accets/imagens/logosorvete.png.png" width="64px" height="64px"> 
        </a>
        <nav>
            <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="page3.html">Feedback</a></li>
            </ul>
        </nav>
      </div>
    </header>
</body>
</html>